*
{
    margin:0px;
    padding:0px;
}

body{
    min-height:100vh;
    font-family: "Happy Monkey", system-ui;
    font-size: 30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#FFD3AC;
    background-size: cover;
}

.container
{
    font-size: 30px;
    text-align: center;
    padding:10px;
    border-radius: 15px;
    background-color: white;
    width: 100%;
    max-width:612px;
}

.timer
{
    display:flex;
    justify-content: center;
    gap:30px;
    font-weight: bold;
}



#days::after
{
   content: "Days";
   font-size: 20px;
   color:grey;
}


#hours::after
{
   content: "Hours";
   font-size: 20px;
   color:grey;
}


#minutes::after
{
   content: "Minutes";
   font-size: 20px;
   color:grey;
}


#seconds::after
{
   content: "Seconds";
   font-size: 20px;
   color:grey;
}

/*=========================================
    Tablet
===========================================*/

@media (max-width : 850px)
{
    .container
    {
      width:100%;
      max-width:612px;
      max-height: unset;

    }
}

/*==========================================
  Mobile
===========================================*/

@media ( max-width : 600px )
{
      .container{
        width:100%;
      max-width:500px;
      max-height: unset;
      }
}